<p style="color: green"><%= notice %></p>

<h1>Beer clubs</h1>

<div id="beer_clubs">
  <% @beer_clubs.each do |beer_club| %>
    <%= link_to beer_club.to_s, beer_club %>
    <p><strong>founded:</strong> <%= beer_club.founded %></p>
    <p><strong>members:</strong> <%= beer_club.members.count %></p>
  <% end %>
</div>

<%= link_to "New beer club", new_beer_club_path %>
