<p style="color: green"><%= notice %></p>

<% if @user %>
<div>
<h2>Username:</h2>
<p><%= @user.username %></p>
<p>Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %></p>
<h3>ratings</h3>
<ul>
  <% @user.ratings.each do |rating| %>
  <li><%= rating %>
    <% if @user == current_user %>
    <%= link_to 'delete', rating, data: {'turbo-method': :delete} %>
    <% end %>
  </li>
  <% end%>
</ul>
<h3>beer club memberships</h3>
<ul>
  <% @user.beer_clubs.each do |club| %>
  <li><%= link_to club.to_s, club %>
  <% end %>
</ul>
</div>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
